.app {
  font-family: sans-serif;
  text-align: center;
}

$media-width: 950px;

ul {
  display: block;
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: -system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,
  Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  
  svg {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 38px; 
    height: 38px;
    fill: #42526e;
  }
}

nav.vertical {
  $image-size: 23px;
  $nav-width: 64px;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $nav-width;
  background-color: rgb(7, 71, 166);

  ul {
    padding: 10px 0;
    margin: 0;
    position: relative;
    width: 100%;

    &.bottom {
      position: absolute;
      bottom: 0;
    }

    li {
      display: block;
      transition: .2s ease-out;
      cursor: pointer;
      background: transparent;
      margin: 0 auto;
      margin-bottom: 8px;
      width: 42px;
      height: 42px;
      border-radius: 100%;
      position: relative;

      &.brand {
        width: 52px;
        height: 52px;
        margin-bottom: 24px;

        svg {
          width: 32px;
          height: 32px;
        }
      }

      label {
        display: none;
        cursor: pointer;

        &.sub-text {
          font-size: 12px;
          padding-top: 4px;
          font-weight: 600;
          opacity: 0.6;
        }
      }

      svg {
        position: absolute;
        width: $image-size;
        height: $image-size;
        fill: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.main {
    ul {
      li {
        svg {
          z-index: 2;
        }
        
        label {
          z-index: 1;
          position: absolute;
          left: 44px;
          top: 50%;
          transform: translateY(-50%);
          background: #363356;
          border-radius: 4px;
          padding: 6px 10px;
          color: white;
          white-space: nowrap;
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.4);            
            
          &.sub-text {
            top: 125%;
            opacity: 1;
          }
        }
        
        &:hover {
          background: rgba(255, 255, 255, 0.12);
          label {
            display: block;
          }
        }
        
        &.brand {
          label {
            display: none;
          }
        }
        
        &.selected {
          color: #fff;
          background: rgba(255, 255, 255, 0.12);

          svg {
            fill: #fff;
          }
        }
      }
    }
  }

  &.sub {
    width: 220px;
    @media (max-width: $media-width) {
      width: calc(100% - 100px); 
    }
    left: $nav-width;
    background: #f4f5f7;
    padding: 0 18px;
    overflow: auto;

    ul {
      padding: 20px 0;
      max-width: 300px;
      @media (max-width: $media-width) {
        padding-top: 40px;
      }

      li {
        width: auto;
        height: auto;
        padding: 12px 16px;
        border-radius: 4px;
        text-align: left;
        color: rgb(66, 82, 110);
        padding-left: 58px;
        background: transparent;

        label {
          user-select: none;
          display: block;
        }

        svg {
          transition: .2s ease-out;
          position: absolute;
          width: $image-size;
          height: $image-size;
          left: 14px;
          top: 50%;
          transform: translateY(-50%);
          fill: #42526e;
        }

        &.selected {
          color: rgb(0, 82, 204);

          svg {
            fill: rgb(0, 82, 204);
          }
        }
        
        &:hover, &.selected {
          background: #eaecf0;
        }
      }
    }
  }

  @media (max-width: $media-width) {  
    opacity: 0;
    visibility: hidden;  
  }
}

@media (max-width: $media-width) {
  .nav-open {
    @keyframes slide {
      100% { opacity: 1; }
    }
  
    nav {
      visibility: visible;
      animation: slide .1s ease-in forwards;
    }
  
    header {
      padding-left: 108px;

      label, label svg {
        opacity: 0;
      }
    }
  }
}

@media (max-width: $media-width) {   
  .hide-mobile {
    display: none;
  }
}

@media (min-width: $media-width) {
  .collapsed {
    header {
      left: 64px;
    }
  }
}

header {
  transition: padding .1s ease-out;
  background: #fff;
  padding: 32px 50px;
  text-align: left;
  color: #42526e;

  @media (max-width: $media-width) { 
    background: #f4f5f7;
    padding: 20px 20px;
    padding-left: 34px;
  }

  label {
    position: relative;
    user-select: none;
    padding-left: 20px;

    svg {
      right: auto;
      left: 0;
      width: 24px; 
      height: 24px;
    }
  }
}

.nav-toggle {
  background: #f4f5f7;
  display: none;
  position: fixed;
  top: 6px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 100%;
  width: 34px; 
  height: 34px;
  transition: background-color .2s ease-out;
  @media (max-width: $media-width) {
    display: block;
  }

  &:hover {
    background: rgba(66, 82, 110, 0.1);
  }
}

@media (min-width: $media-width) {
  .collapsed {
    .content {
      left: 64px;
    }
  }
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  left: 320px;

  @media (max-width: $media-width) {
    left: 0;
    display: block;
  }

  .stuff {
    background: lightgray;
    border-bottom: 2px solid darkgray;
    height: 200px;      
  }
}